<nav class="header-nav">
  <ul class="header-lijst">

    <li class="header-links">
      <span class="header-knop" id="header-racen">
        <img src="/afbeeldingen/icoonAuto.svg" class="header-icoon">
        Racen
      </span>
    </li>

    <li class="header-midden">
      <img src="/afbeeldingen/logoDualr.svg" alt="logo">
    </li>

    <li class="header-rechts">
      <a href="/berichten" class="header-knop">
      Terug
      <span class="header-knop-achtergrond">X</span>
      </a>
    </li>

  </ul>
</nav>
