<nav class="header-nav">
  <ul class="header-lijst">

    <li class="header-links">
      <a href="/filters" class="header-knop">
      Filters
      <span class="header-knop-achtergrond"><%= filterCount %></span>
      </a>
    </li>

    <li class="header-midden">
      <img src="../../static/afbeeldingen/logoDualr.svg" alt="logo">
      </a>
    </li>

    <li class="header-rechts">

    </li>

  </ul>
</nav>
