<nav class="header-nav">
  <ul class="header-list">

    <li class="header-links">
      Racen
      <img src="../../static/afbeeldingen/icoonAuto.svg" class="header-icoon">
    </li>

    <li class="header-midden">
      <img src="../../static/afbeeldingen/logoDualr.svg" alt="logo">
    </li>

    <li class="header-rechts">
      <a href="/berichten" class="header-knop">
      Terug
      <span class="header-knop-achtergrond">X</span>
      </a>
    </li>

  </ul>
</nav>
