<nav class="header-nav">
  <ul class="header-lijst">

    <li class="header-links">

    </li>

    <li class="header-midden">
      <img src="/afbeeldingen/logoDualr.svg" alt="logo van DualR">
      </a>
    </li>

    <li class="header-rechts">
      
    </li>

  </ul>
</nav>