:root {
  --font-size-form-title: 3rem;   
  --font-size-form-label: 2.5rem; 
  --font-size-form-input: 2rem;   
  --font-size-normal: 2rem;       
}

/* ------------------- Basis layout ------------------- */
html, body {
  min-height: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--kleur-achtergrond); 
  font-family: var(--font-family-text);
  color: var(--kleur-tekst);
}

/* Padding rond formulier */
form {
  padding: var(--wit-ruimte-geen-xl);
}

/* Kleine verticale spacing voor spans */
span {
  display: block;
  height: var(--lijn-hoogte-l);
}

/* ------------------- Labels ------------------- */
label {
  display: block;
  font-size: var(--font-size-form-label);
  margin-top: var(--lijn-hoogte-l);
}

/* ------------------- Input velden ------------------- */
input, select {
  width: 100%;
  padding: var(--wit-ruimte-s-m);
  margin-top: var(--lijn-hoogte-m);
  border: var(--border-width-input) var(--border-style-input) var(--border-color-input);
  color: var(--kleur-tekst);
  background-color: var(--kleur-invulveld); 
  font-size: var(--font-size-form-input);
  box-sizing: border-box;
}

input:focus {
  color: var(--kleur-tekst);
}

/* Placeholder styling */
input::placeholder {
  color: var(--kleur-placeholder-text);
}

/* ------------------- Knoppen ------------------- */
button {
  margin: var(--lijn-hoogte-xl) 0;
  width: 100%;
  background: hsl(0deg 0% 100%);
  color: hsl(202deg 26% 12%);
  padding: var(--wit-ruimte-s-m);
  font-size: var(--font-size-normal);
  font-family: var(--font-family-kopjes);
}

/* ------------------- Form titels ------------------- */
form h2 {
  font-size: var(--font-size-form-title);
  margin-top: var(--lijn-hoogte-l);
}

/* ------------------- Select dropdown ------------------- */
select {
  appearance: none;                /* Verwijdert standaard OS-styling */
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>'); /* Pijl icoon */
  background-repeat: no-repeat;
  background-position: right 0.8em center;
  background-size: 2em auto;
}

/* Dropdown opties kleiner en strakker */
select option {
  font-size: 40%;      
  line-height: 1.2em;  
}