footer {
  background-color: var(--kleur-footer-achtergrond);
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 8%;
  z-index: 4;
  
}

footer section {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;      
  height: 100%;     
}

.footer-icon.actief svg path,
.footer-icon.actief svg rect {
  fill: var(--kleur-footer-actief);
}