:root {
  /* Kleur */
  --kleur-tekst: hsl(0deg 0% 100%);
  --kleur-tekst-leaderbord-top: hsl(202deg 26% 12%);
  --kleur-border-zijkant: hsl(0deg 0% 100%);
  --kleur-accent: hsl(356deg 69% 50%);
  --kleur-achtergrond: hsl(202deg 26% 12%);
  --kleur-invulveld: hsl(204deg 55% 18%);
  --kleur-tekst-links-knop: hsl(204deg 55% 18%);
  --kleur-achtergrond-linker-knop: hsl(0deg 0% 100%);
  --kleur-achtergrond-blok-verzoek: hsl(204deg 55% 18%);
  --kleur-achtergrond-blok: hsl(204deg 55% 18%);
  --kleur-tekst-inlog: hsl(0deg 0% 75%);
  --kleur-leaderbord-1: hsl(41deg 93% 52%);
  --kleur-leaderbord-2: hsl(206deg 4% 65%);
  --kleur-leaderbord-3: hsl(30deg 70% 45%);
  --kleur-rank: hsl(41deg 93% 52%);
  --kleur-footer-achtergrond: hsl(205deg 58% 21%);
  --kleur-footer-aangeklikt: hsl(41deg 93% 52%);
  --kleur-chatbericht-ik: hsl(205deg 54% 63%);
  --kleur-chatbericht-hun: hsl(0deg 0% 100%);
  --kleur-corner-border: hsl(0deg 0% 100%);

  /* Font */
  --font-size-form-title: 3rem;
  --font-size-form-label: 2.5rem;
  --font-size-form-lnput: 2rem;
  --font-size-normal: 2rem;
  --font-family-kopjes: arial, sans-serif; /* Racing Sans One */
  --font-family-text: arial, sans-serif; /*   Nunito Sans   */

  /* Ruimte tussen de ruimtes */
  --lijn-hoogte-s: 1rem;
  --lijn-hoogte-m: 2.5rem;
  --lijn-hoogte-m-l: 3rem;
  --lijn-hoogte-l: 4rem;
  --lijn-hoogte-xl: 8rem;

  /* wit-ruimte één keuze */
  --wit-ruimte-geen: 0;
  --wit-ruimte-xs: 0.5em;
  --wit-ruimte-s: 1em;
  --wit-ruimte-m: 2em;
  --wit-ruimte-l: 4em;
  --wit-ruimte-xl: 8em;
  --wit-ruimte-xxl: 12em;

  /* wit-ruimte geen boven onder */
  --wit-ruimte-geen-xs: 0 0.5em;
  --wit-ruimte-geen-s: 0 1em;
  --wit-ruimte-geen-m: 0 2em;
  --wit-ruimte-geen-l: 0 4em;
  --wit-ruimte-geen-xl: 0 8em;

  /* wit-ruimte geen links rechts */
  --wit-ruimte-xs-geen: 0.5em 0;
  --wit-ruimte-s-geen: 1em 0;
  --wit-ruimte-m-geen: 2em 0;
  --wit-ruimte-l-geen: 4em 0;
  --wit-ruimte-xl-geen: 8em 0em;

  /* wit-ruimte klein */
  --wit-ruimte-s-xs: 1em 0.5em;
  --wit-ruimte-s-m: 1em 2em;
  --wit-ruimte-s-l: 1em 4em;
  --wit-ruimte-s-xl: 1em 8em;

  /* wit-ruimte middel */
  --wit-ruimte-m-xs: 2em 0.5em;
  --wit-ruimte-m-s: 2em 1em;
  --wit-ruimte-m-l: 2em 4em;
  --wit-ruimte-m-xl: 2em 8em;

  /* wit-ruimte groot */
  --wit-ruimte-l-xs: 4em 0.5em;
  --wit-ruimte-l-s: 4em 1em;
  --wit-ruimte-l-m: 4em 2em;
  --wit-ruimte-l-xl: 4em 8em;
  --wit-ruimte-xl-xxl: 8em 12em;

  /* wit-ruimte super groot */
  --wit-ruimte-xl-xs: 8em 0.5em;
  --wit-ruimte-xl-s: 8em 1em;
  --wit-ruimte-xl-m: 8em 2em;
  --wit-ruimte-xl-l: 8em 4em;

  /* wit-ruimte leaderbord */
  --wit-ruimte-nmr-1: 2.5em 0;
  --wit-ruimte-nmr-2: 2em 0;
  --wit-ruimte-nmr-3: 1em 0;

  /* border leaderbord */
  --border-nmr-1: solid hsl(41deg 93% 52%) 1em;
  --border-nmr-2: solid hsl(206deg 4% 65%) 1em;
  --border-nmr-3: solid hsl(30deg 70% 45%) 1em;
}


body {
  overflow-y: auto;
  background-color: hsl(202deg 26% 12%);
  padding-bottom: var(--wit-ruimte-l);
}

h1,
p,
span {
  color: #fff;
  font-size: var(--font-size-normal)
}

p {
  font-family: var(--font-family-kopjes);
}


.leaderbord-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--wit-ruimte-s);
    border: 0.2rem solid var(--kleur-corner-border);
    background-color: var(--kleur-achtergrond-blok);
}

.leaderbord-header img {
    max-width: 5em;
}

/* Volle breedte voor spelers kaartje */
.leaderbord-spelers {
  list-style: none;
  padding-left: var(--wit-ruimte-geen);
  padding-bottom: var(--wit-ruimte-xl);
  margin: var(--wit-ruimte-m-geen);
  flex: 1;
}

.kolom-stats-titel {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 1em;
  padding: var(--wit-ruimte-m-geen);
}

.kolom-stats-titel #filter-rank {
  position: absolute;
  right: 0;
  font-size: var(--font-size-normal);
  background-color: var(--kleur-achtergrond-blok);
  color: var(--kleur-tekst);
  border: .2em solid #fff;
}

.info-rank-knop {
  background: none;
  border: none;
}

/* Wanneer je rank i open klikt */
.info-rank-dropdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  background-color: var(--kleur-achtergrond-blok);
  padding: var(--wit-ruimte-m);
  margin: var(--wit-ruimte-s-geen);
}

/* Moet er onder, zodat het automatisch dicht staat */
.info-rank-dropdown.hidden {
  display: none;
}

/* Titels nemen volle breedte in */
.info-rank-dropdown p:nth-of-type(1),
.info-rank-dropdown p:nth-of-type(5) {
  grid-column: 1 / -1;
  padding-top: var(--wit-ruimte-s);
  color: hsl(41deg 93% 52%);
}

/* Punten naast elkaar plaatsen */
.info-rank-dropdown p:nth-child(6),
.info-rank-dropdown p:nth-child(8) {
  grid-column: 1 / span 2;
}

.info-rank-dropdown p:nth-child(7),
.info-rank-dropdown p:nth-child(9) {
  grid-column: 3 / span 2;
}

/* Container van elke speler */
.leaderbord-speler {
  display: flex;
  flex-direction: column;
  padding: var(--wit-ruimte-s-m);
  margin-bottom: var(--wit-ruimte-s);
  background: var(--kleur-achtergrond-blok);
}

/* BOVENSTE RIJ */
.leaderbord-stats {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Rank */
.plaats {
  font-size: var(--font-size-form-title);
  font-weight: 700;
}

/* Naam groeit mee */
.naam {
  flex-grow: 1;
  font-weight: 500;
}

/* Info knop */
.leaderbord-stats 
.info-speler-knop {
  background: none;
  border: none;
}

/* Leaderbord info speler opengeklapt (wins, losses, etc) */
.extra-info {
  display: none;
  margin-top: var(--wit-ruimte-s);
  padding-top: var(--wit-ruimte-s);
  border-top: .1em solid #fff;
  flex-direction: column;
  gap: 0.5rem;
}

.leaderbord-speler.zichtbaar .extra-info,
.jij.zichtbaar .extra-info {
  display: flex;
  flex-flow: row wrap;
}

/* Top 3 styling */
.eerste {
  background-color: var(--kleur-leaderbord-1);
}

.tweede {
  background-color: var(--kleur-leaderbord-2);
}

.derde {
  background-color: var(--kleur-leaderbord-3);
}

.eerste span,
.tweede span,
.derde span {
  color: var(--kleur-tekst-leaderbord-top);
}

/* Jij highlight */
.mij {
  outline: 2px solid var(--kleur-accent);
  background: #f0f7ff;
}

.leaderbord-jij {
  padding: var(--wit-ruimte-s);
  position: fixed;
  bottom: 15em;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: hsl(356deg 69% 50%);
}

.jij {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  padding: var(--wit-ruimte-s-m);
  border: solid hsl(356deg 69 50) 2em;
  margin: var(--wit-ruimte-s-geen);
} 