body {
  background-color: var(--kleur-achtergrond);
  padding-top: var(--wit-ruimte-xl);
}

main {
  padding: var(--wit-ruimte-xl);
}

h1 {
  font-family: var(--font-family-kopjes);
  display: flex;
  justify-content: center;
  color: var(--kleur-tekst);
}

/* BRONVERMELDING: https://www.w3schools.com/howto/howto_css_overlay.asp */
.laadpagina {
  /* ik wil alleen de body en niet hele pagina daarom staat het uit
    position: fixed; */

  /* display: none; */
  width: 100%;
  height: 100%;
  inset: 0;

  /* Moeten mogelijk ook z-index als overlay er onderkomt
    Btw vergeet de display none niet aan te zetten als je het wilt testen */
  border-right-color: hsl(202deg 26% 12%);
}

.progressie-container {
  position: relative;
  top: 40vh;
  height: 5em;
  width: 90vw;
  justify-self: center;
  background-color: var(--kleur-achtergrond-blok-verzoek);
}

.progressie-container .progressiebar {
  position: absolute;
  height: 100%;
  background-color: var(--kleur-accent);
  animation: progressie-animatie 5s forwards;
}

.progressie-container img {
  width: 20em;
  position: absolute;
  top: -7em;
  animation: auto-animatie 5s forwards;
}


@keyframes progressie-animatie {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes auto-animatie {
  0% {
    left: -30%;
  }

  100% {
    left: 69%;
  }
}