h1 {
  font-family: var(--font-family-kopjes);

  /* code */
  padding: var(--wit-ruimte-geen-xs);
  display: flex;
  justify-content: center;
  color: #fff;
}

/* BRONVERMELDING: https://www.w3schools.com/howto/howto_css_overlay.asp */

/* overlay */
.laadpagina {
  /* ik wil alleen de body en niet hele pagina daarom staat het uit
    position: fixed; */

  /* display: none; */
  width: 100%;
  height: 100%;
  inset: 0;

  /* Moeten mogelijk ook z-index als overlay er onderkomt
    Btw vergeet de display none niet aan te zetten als je het wilt testen */
  border-right-color: hsl(202deg 26% 12%);
}

.laadanimatie {
  position: relative;
  display: flex;
  justify-content: center;
}

.caranimatie {
  position: absolute;
  top: 8vh;

  /* Start animatie code */
  animation-name: laadanimatie;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* BRONVERMELDING: https://youtube.com/shorts/bAa-_zFEKVE?si=Uf2cyFq94T6AVPo0 
Inspiratie vandaan gehaald, dit is wat ik zocht om ook te maken */
.cirkelanimatie {
  position: absolute;
  top: 20vh;
  height: 18em;
  width: 18em;
  border: 1em solid #fff0;
  border-radius: 50%;
  border-right-color: hsl(204deg 55% 28%);

  /* animatie cirkel */
  animation-name: cirkelanimatie;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/* Animatie maken */
@keyframes laadanimatie {
  0% {
    rotate: 0deg;
  }
  
  100% {
    rotate: 360deg;
  }
}

@keyframes cirkelanimatie {
  100% {
    transform: rotate(360deg);
  }
}