:root{
    --font-size-form-title: 3rem;
    --font-size-form-label: 2.5rem;
    --font-size-form-lnput: 2rem;
    --font-size-normal: 2rem;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--kleur-achtergrond);
  background-image: url("afbeeldingen/login-page.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: var(--font-family-text);
  overflow: hidden;
}

main {
  height: 100vh;
}

.container {
  width: 100%;
  height: 400vh;
  transition: none;
}

.sectie {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: hsl(0deg 0% 100%);
}

.formulier-box {
  background: var(--kleur-achtergrond);
  border-radius: 4rem 4rem 0 0;
  padding: var(--wit-ruimte-l-xl);
  width: 100vw;
  height: 60vh; 
}

.formulier-box-login {
  border-radius: 4rem 4rem 0 0;
  padding: var(--wit-ruimte-l-xl);
  width: 100vw;
  height: 60vh;  
}

label {
  display: block;
  font-size: var(--font-size-form-label);
  margin-top: var(--lijn-hoogte-l);
}

input, select {
  width: 100%;
  padding: var(--wit-ruimte-s-m);
  margin-top: var(--lijn-hoogte-m);
  border: var(--border-width-input) var(--border-style-input) var(--border-color-input);
  color: var(--kleur-tekst);
  background-color: var(--kleur-invulveld);
  font-size: var(--font-size-form-lnput);
  box-sizing: border-box;
}

input:focus {
  color: var(--kleur-tekst); 
}

input::placeholder {
  color: var(--kleur-placeholder-text);
}

button {
    margin-top: var(--lijn-hoogte-xl);
    width: 100%;
    background: var(--kleur-secundair-button-bg);
    color: var(--kleur-secundair-button-text);
    padding: var(--wit-ruimte-s-m);
    font-size: var(--font-size-normal);
    cursor: pointer;
    font-family: var(--font-family-kopjes);
}

.knop-primaire {
  background: var(--kleur-primair-button-bg);
  color: var(--kleur-primair-button-text);
  width: 50%;
  align-self: flex-end;
  border-radius: 0.5em;
}

.knop-secundaire {
  background: var(--kleur-placeholder-text);
  width: 50%;
  align-self: flex-start;
  border-radius: 0.5em;
}

.knoppen-rij {
  display: flex;
  justify-content: space-between;
  margin-top: var(--lijn-hoogte-xl);
}

.knoppen-rij button {
  width: 48%;
  margin: 0;
}

.link {
  margin-top: var(--lijn-hoogte-m);
  display: block;
  cursor: pointer; 
  color: var(--kleur-tekst);
  font-size: var(--font-size-normal);
  background: none;
  padding: 0;
  border: none;
  text-align: left;
} 

form h2 {
  font-size: var(--font-size-form-title);
  margin-top: var(--lijn-hoogte-l);
}

fieldset{
    border:none;
}

input[type="date"], select {
    color: var(--kleur-tekst);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) brightness(200%);
    cursor: pointer;
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.8em center;
    background-size: 2em auto;
    cursor: pointer;
}

select option {
    font-size: 40%;      /* smaller text */
    line-height: 1.2em;  /* shrink spacing */
}

#formulier-registratie {
  position: relative;
}

#formulier-registratie::before {
  content: "";
  display: block;
  width: auto;
  height: 20vh;
  margin: -30vh auto 10vh;
  background-image: url('afbeeldingen/logoDualr.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}  

/* Verberg het standaard bestandsinvoerveld */
input[type="file"] {
  display: none;
}

/* Style het label zodat het als een knop fungeert */
.upload-label {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: var(--wit-ruimte-s-m);
  margin-top: var(--lijn-hoogte-m);
  border: var(--border-width-input) var(--border-style-input) var(--border-color-input);
  background-color: var(--kleur-invulveld);
  font-size: var(--font-size-form-lnput);
  box-sizing: border-box;
  height: 116px;
  cursor: pointer;
}

.upload-label img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  filter: invert(1);
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%; 
}