/* filter css */
#filter-overlay {
  position: fixed;
  inset: 0;                        /* vult het hele scherm */
  background: var(--kleur-achtergrond);
  z-index: 100;
  overflow-y: auto;
  transition: opacity 0.3s ease;
}

#filter-overlay.verborgen {
  display: none;
}






.body-matching {
  padding: 0;
  background-color: var(--kleur-achtergrond);
}

.alle-kaarten {
  position: relative;
  width: 100%;
  max-width: 100%;      /* responsief */
  height: 80vh;        /* geen px, maar % van schermhoogte */
  margin: 0 auto;
}


#button-filter {
  display: flex;
  background-color: var(--kleur-filtreren-knop);
  color: var(--kleur-tekst);
  border: none;
  font-weight: bold;
  width: 10em;
  margin-bottom: 2em;
}


.veeg-kaart {
  position: absolute;
  height: 100%;
  background: var(--kleur-achtergrond);
    width: 100%;
  overflow: hidden;  
  transition: transform 0.35s ease, opacity 0.35s ease; 
  z-index: 1;
}


.veeg-kaart:nth-child(1) {
  z-index: 3;

}

.veeg-kaart:nth-child(2) {
  z-index: 2;

}

.veeg-kaart:nth-child(3) {
  z-index: 1;

}



#main-matching {
  margin: 0 2em;
}

.foto-section {
  text-align: center;
}

.foto-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.styling-links{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.styling-rechts{
  position: absolute;
  right: 0;
  bottom: 0;

}

dl {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;

}

dt,
dd {
  color: var(--kleur-tekst);
  text-align: center;
}

#naam-gebruiker {
  color: var(--kleur-tekst);
  margin: 1em 0;
}

.info-blok {
  background-color: var(--kleur-blok-matching);

}

.tekst {
  color: var(--kleur-tekst);
}

#knop-matching {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  bottom: 2em;
  padding-top: 2em;
  padding-bottom: 4em;
  z-index: 4;
}

#knop-volgende {
  background: var(--kleur-achtergrond-linker-knop);
  border-radius: 0.5em;
  width: 45%;
  height: 3em;

}

#knop-challenge {
  background: var(--kleur-accent);
  color: var(--kleur-tekst);
  border-radius: 0.5em;
  width: 45%;
  height: 3em;

}
