
.body-matching {
  padding: 0;
  background-color: var(--kleur-achtergrond);
}

#alle-info{
  position: relative;
}

#main-matching {
  margin: 0 2em;
}

.profiel-foto{
  width: 100%;
}

#button-edit-profiel{
  background-color: transparent;
  border: none;
}

#button-edit-profiel:focus{
  outline: none;
border: none;
}

#foto-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

#positie-edit{
  display: flex;
  justify-content: space-between;
}


.naam-gebruiker {
  color: var(--kleur-tekst);
}

  #edit-profiel{
    width: 2em;
  }

#middenlijn{
  margin: 1em 0;
}

dl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

}

dt,
dd {
  color: var(--kleur-tekst);
  text-align: center;
}

#naam-gebruiker {
  color: var(--kleur-tekst);
  margin: 1em 0;
}



.info-blok {
  background-color: var(--kleur-blok-matching);
   overflow: hidden;
  min-width: 0;

}

.info-blok:nth-child(10) {
 grid-column: 1 / 4;
}

#tekst {
  color: var(--kleur-tekst);
}

* {
  box-sizing: border-box;
}



